<%= form_with url: "/foods/create_food_linked_with_inventory", method: :post, local: true do |form| %>
    <%= form.hidden_field :inventory_id, value: @inventory.id %>
    <div class="field">
      <%= form.label :name %>
      <%= form.text_field :name %>
    </div>
    <div class="field">
      <%= form.label :measurement_unit %>
      <%= form.number_field :measurement_unit %>
    </div>
    <div class="field">
      <%= form.label :price %>
      <%= form.number_field :price %>
    </div>
    <div class="actions">
      <%= form.submit "Add Food" %>
    </div>
  <% end %>

  <table>
  <thead>
    <tr>
      <th>Food</th>
      <th>Quantity</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @inventory.foods.each do |food| %>
      <tr>
        <td><%= food.name %></td>
        <td><%= food.measurement_unit %></td>
        <td><%= button_to 'Delete', destroy_food_linked_with_inventory_path(id: food.id, inventory_id: @inventory.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>